{% extends 'base.html' %}
{% block content %}
    <h2>Entre em contato</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate libero voluptates eveniet dignissimos, tenetur optio. Fuga amet tenetur voluptate delectus doloribus id quidem non, tempore dignissimos odio. Suscipit, explicabo voluptatum!</p>
    <hr>
    <form action="/contato" method="POST">
            Seu email: <br>
            <input type="email" name="email"><br>
            Assunto: <br>
            <input type="text" name="assunto"><br>
            Descrição: <br>
            <input type="text" name="descrição"><br>
            <input type="submit" title="Enviar">
    </form>
{% endblock %}