{% extends 'base.html' %}
{% block content%}
    <div id="capa"><img src="../static/img/capa.png" alt="capa"></div>
    <h2>Sobre a universidade</h2>
    <div>   
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates qui, fugit porro autem vitae vel id totam dolorem facilis velit ratione. Provident maxime cumque dolor temporibus! Nihil molestiae quod quibusdam.</p>
        <p>Molestias, voluptates nemo, autem numquam nobis eius necessitatibus aliquid consequatur dolores labore natus est aliquam ipsum reprehenderit temporibus. Eum qui tempora mollitia libero asperiores minima suscipit ratione odio quas odit?</p>
    </div>
{% endblock %}     