{% extends 'base.html' %}
{% block content %}
    <h2>Quem somos</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores fugit, alias recusandae necessitatibus inventore voluptates quam esse, sapiente possimus facilis unde. Aliquid quia sequi autem porro magni nostrum placeat error!</p>
    <h2>5 motivos para estudar</h2>
    <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
    </ol>
    <hr>
    <h2>Objetivos</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus, accusamus reiciendis. Incidunt numquam accusamus tempora eius sit, vero nisi doloribus unde voluptatum corporis aspernatur ipsum! Vel doloremque eius iure veniam.</p>
{% endblock %}